@import url("https://fonts.googleapis.com/css?family=Bitter:400,700|Open+Sans:300,400,600,700");
.haiku__actions .icon,
.social__bubble {
  opacity: 0.5;
  margin-left: 1.5rem;
  width: 2.5rem;
  height: 2.5rem;
  line-height: 2.5rem;
  text-align: center;
  background: white;
  border-radius: 50%;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3);
  color: #755CE0;
  transition: opacity 0.2s ease-in-out;
}

.haiku__actions .icon:hover,
.social__bubble:hover {
  opacity: 0.7;
}

.haiku__actions .icon:focus,
.social__bubble:focus,
.haiku__actions .icon:active,
.social__bubble:active {
  opacity: 1;
}

* {
  box-sizing: border-box;
}

input[type="submit"],
input[type="reset"],
input[type="button"],
button {
  background: none;
  border: 0;
  color: inherit;
  /* cursor: default; */
  font: inherit;
  line-height: normal;
  overflow: visible;
  padding: 0;
  -webkit-appearance: button;
  /* for input */
  -webkit-user-select: none;
  /* for button */
  -moz-user-select: none;
  -ms-user-select: none;
}

input::-moz-focus-inner,
button::-moz-focus-inner {
  border: 0;
  padding: 0;
}


/* Make `a` like a button */

[role="button"] {
  color: inherit;
  cursor: default;
  display: inline-block;
  text-align: center;
  text-decoration: none;
  white-space: pre;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
}

button,
a {
  cursor: pointer;
  font-family: "Open Sans", Helvetica, serif;
}

button:focus,
button:active,
a:focus,
a:active {
  outline: none;
}

a {
  color: inherit;
  text-decoration: none;
}

html,
body {
  margin: 0;
  padding: 0;
  position: relative;
  width: 100%;
  height: 100%;
  font-family: "Bitter", Helvetica, serif;
  -webkit-font-smoothing: antialiased;
  color: #D7DEDC;
}

.main-container {
  position: relative;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-direction: column;
  flex-direction: column;
  -ms-flex-pack: center;
  justify-content: center;
  width: 100%;
  height: 100%;
}

.main-container.blur:after {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: #5643af;
  opacity: 0.5;
  z-index: 10;
}

h1 {
  margin: 0 0 0.2em;
  font-size: 4rem;
  line-height: 1.2;
}

h2 {
  font-size: 3rem;
}

h3 {
  margin: 0 0 0.3em;
  font-weight: 400;
}

.icon {
  font-size: 1.3rem;
}

.nav {
  padding: 1.5rem 4vw;
  border: 12px solid #8771e4;
  border-bottom: 0;
  background: #755CE0;
  color: #D7DEDC;
}

.nav__item {
  text-transform: uppercase;
  font-weight: 600;
  letter-spacing: 2px;
  font-size: 0.8rem;
}

.nav__logo {
  text-transform: none;
  font-weight: 700;
  font-size: 1.4rem;
  font-family: "Bitter", Helvetica, serif;
  text-shadow: 1px 1px 2px #5131d8;
}

.nav__container {
  margin: 0 auto;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -ms-flex-align: baseline;
  align-items: baseline;
}

.landing__heading {
  margin: 0 0 2.5rem 0;
  text-align: center;
}

.section {
  position: relative;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-direction: column;
  flex-direction: column;
  -ms-flex-pack: center;
  justify-content: center;
  -ms-flex-align: center;
  align-items: center;
  -ms-flex: 1;
  flex: 1;
  background: #444;
}

@keyframes shrink {
  0% {
    transform: scale(1);
    opacity: 1;
  }
  100% {
    transform: scale(0);
    opacity: 0;
    visibility: hidden;
  }
}

@keyframes moveLeft {
  0% {
    transform: translateX(100%);
  }
  100% {
    transform: translateX(0);
  }
}

@keyframes moveRight {
  0% {
    transform: translateX(-100%);
  }
  100% {
    transform: translateX(0);
  }
}

.screen {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border: 12px solid #674ae6;
  border-top: 0;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-direction: column;
  flex-direction: column;
  -ms-flex-pack: center;
  justify-content: center;
  -ms-flex-align: center;
  align-items: center;
  background-color: #7A60E9;
  background-image: url("https://s3-us-west-2.amazonaws.com/s.cdpn.io/60485/bg.svg");
  background-size: 300px 300px;
  background-repeat: repeat;
  animation: shrink 0.6s ease-in-out;
}

.screen--active {
  z-index: 10;
  visibility: visible;
}

.screen--active.screen--slide-right {
  animation: moveRight 0.6s ease-in-out;
}

.screen--active.screen--slide-left {
  animation: moveLeft 0.6s ease-in-out;
}

.screen--active.screen--initial {
  animation: none;
}

.form {
  margin-bottom: 15rem;
}

.field {
  --fieldHeight: 3.5rem;
  position: relative;
  padding: 0;
  margin: 0;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-align: center;
  align-items: center;
  border: none;
  width: 40vw;
  max-width: 600px;
  height: var(--fieldHeight);
  background-color: rgba(255, 255, 255, 0.5);
  overflow: hidden;
  font-family: "Open Sans", Helvetica, serif;
}

.field.error {
  animation: shake 0.4s ease-in-out;
}

.field__info {
  color: #D7DEDC;
  font-weight: 300;
  font-size: 0.9rem;
}

.field__input {
  -ms-flex: 1;
  flex: 1;
  border: none;
  background: none;
  padding: 0 1em;
  line-height: var(--fieldHeight);
  font-size: 1.15rem;
  color: #5643af;
  font-family: "Open Sans", Helvetica, serif;
}

.field__input::-webkit-input-placeholder {
  color: rgba(117, 92, 224, 0.65);
}

.field__input:-ms-input-placeholder {
  color: rgba(117, 92, 224, 0.65);
}

.field__input::placeholder {
  color: rgba(117, 92, 224, 0.65);
}

.field__input:focus,
.field__input:active {
  outline: none;
}

.field__input:focus~.field__submit span,
.field__input:active~.field__submit span {
  top: 0;
}

.field__submit {
  padding: 0 1em;
  line-height: var(--fieldHeight);
  color: #755CE0;
  font-size: 2rem;
}

.field__submit:focus span,
.field__submit:active span {
  top: 0;
}

.field__submit span {
  transition: all 0.3s ease-in-out;
  position: relative;
  top: -3rem;
}

.haiku__title {
  margin: 0 0 0.5em 0;
  line-height: 1.1;
}

.haiku__container {
  min-width: 360px;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-direction: column;
  flex-direction: column;
  -ms-flex-pack: center;
  justify-content: center;
  -ms-flex: 1;
  flex: 1;
  font-size: 1.4rem;
  line-height: 1.7;
}

.haiku__actions {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: end;
  justify-content: flex-end;
  padding-top: 2rem;
}

.haiku__actions .icon--spin.active {
  animation: spin 0.4s cubic-bezier(0.72, -0.07, 0.59, 1.08);
}

.social:active .social__bubble,
.social:focus .social__bubble {
  display: block;
  animation: 0.48s down forwards;
}

.social:active .social__bubble:nth-child(3),
.social:focus .social__bubble:nth-child(3) {
  animation-delay: 0.39s;
}

.social:active .social__bubble:nth-child(2),
.social:focus .social__bubble:nth-child(2) {
  animation-delay: 0.2s;
}

.social .ion-social-twitter {
  background-color: #1DA1F2;
}

.social .ion-social-facebook {
  background-color: #46629E;
}

.social .ion-social-googleplus {
  background-color: #DB4437;
}

.social__bubble {
  margin: 1rem 0 0;
  display: none;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3);
  opacity: 0;
  will-change: animation;
  color: #D7DEDC;
}

.social__bubble:nth-child(1) {
  top: -132px;
}

.social__bubble:nth-child(2) {
  top: -66px;
}

.back-button {
  margin: 2rem;
  justify-self: end;
  -ms-flex-item-align: start;
  align-self: flex-start;
  font-size: 1.15rem;
}

.modal {
  visibility: hidden;
  position: absolute;
  background: #c5baf5;
  width: 90vw;
  max-width: 900px;
  height: 60vh;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  outline: 15px solid #c5baf5;
  border: 5px solid #7A60E9;
  color: #7A60E9;
  opacity: 0;
  transition: opacity 0.3s ease-in-out;
}

.modal.show {
  visibility: visible;
  z-index: 100;
  opacity: 1;
}

.modal__container {
  padding: 1rem 2rem;
}

.modal__heading {
  font-size: 1.7rem;
}

.modal__close {
  position: absolute;
  right: 1rem;
  top: 1rem;
  font-size: 2rem;
  background: #D7DEDC;
  width: 3rem;
  height: 3rem;
  line-height: 3rem;
  border-radius: 50%;
}

@keyframes spin {
  100% {
    transform: rotate(360deg);
  }
}

@keyframes shake {
  0% {
    background: rgba(255, 133, 133, 0.65);
    left: 1em;
  }
  25% {
    left: -1em;
  }
  50% {
    left: 1em;
  }
  75% {
    left: -1em;
  }
  100% {
    left: 0;
  }
}

@keyframes down {
  0% {
    opacity: 0;
    transform: translateY(-130%);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
    top: 0;
  }
}